################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VsoftPublishedFiles/CopilotIndices/17.14.827.52834
/.vs/VsoftPublishedFiles/FileContentIndex
/.vs/VsoftPublishedFiles/v17
/.vs
